[submodule "api"]
  path = api
  url = https://github.com/yuma-matsui/prototype_tasting_note_api

[submodule "front"]
  path = front
  url = https://github.com/yuma-matsui/prototype_tasting_note_front
